* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.content {
  background-color: rgb(190, 190, 190);
  height: 85vh;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}

.json-text textarea {
  width: 100%;
  font-size: small;
  padding: 5px;
}

.viewer-tab {
  display: flex;
  gap: 10px;
  font-size: 14px;

}

.tree-section {
  width: 75%;
  background-color: white;
  overflow-y: scroll;
  height: 70vh;
}

.data-section {
  width: 25%;
  height: fit-content;
  background-color: white;
}

.label {
  font-weight: bold;
}

.data-table {
  width: 100%;
  text-align: left;
}

.data-table tr {
  border: 1px solid rgb(174, 171, 171);
  padding: 5px 0px;
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 5px;
}