* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.content {
  background-color: rgb(238, 238, 238);
  height: 80vh;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}

.json-text textarea {
  width: 100%;
  font-size: small;
  padding: 5px;
}

.viewer-tab {
  display: flex;
  gap: 10px;
}

.viewer-tab>div {
  background-color: white;
  min-height: 100%;
}

.tree-section {
  width: 75%;
}

.data-section {
  width: 25%;
}